<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yfdl.mapper.DormitoryMapper">
    <select id="getSelectList" resultType="com.yfdl.entity.DormitoryEntity">
        SELECT ID,DOR_NAME FROM YFDL.DORMITORY
    </select>
</mapper>